# Settings
.vscode/
.coveralls.yml
.eslintrc.json
.gitattributes
.gitignore
.npmignore
api-extractor.json
jest.config.js
tsconfig.eslint.json
tsconfig.json

# static files
assets/
docs/
examples/
external_modules/

# src
src/

# Dependency directories
node_modules/

# test
coverage/
test/
dist/test/

# api-extractor
temp/
etc/
